// Plugin
$fa-font-path:                      "~font-awesome/fonts";

// Bootstrap
$font-family-sans-serif:            "Open Sans", sans-serif;
$enable-shadows:                    true;
$theme-colors: (
	"orange": #ee800d
);
$sizes: (
	33: 33.33333%
);

// Custom
